@font-face {
  font-family: 'Open-SansRegular';
  src: url('../../fonts/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans-Regular.woff') format('woff'),
  url('../../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}